<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width:device-width">
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>WeatherApp</title>

        <div class="bg-info p-2">
            <span class="navbar">WeatherApp</span>
        </div>
    </head>
    <body>
        <div class="container-fluid p-2">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="footer border-top text-muted p-2" style="position: fixed; bottom: 0; width: 100%;> 
            <div class="container-fluid">
                &copy; 2023 - WeatherApp </b>
                git - <a href=""/>
            </div>
        </footer>
    </body>
</html>