<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width:device-width">
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>WeatherApp</title>

        <div class="bg-info p-2">
            <span class="navbar">WeatherApp</span>
        </div>
    </head>
    <body>
        <div class="container-fluid p-2">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="footer border-top text-muted p-2 text-center" style="position: fixed; bottom: 0; width: 100%;> 
            <div class="container-fluid">
                &copy; 2023 - WeatherApp
                <p>
                    <a href="https://github.com/ShadowPrice1328/WeatherApp" class="text-decoration-none">GitHub</a>
                </p>
            </div>
        </footer>
    </body>
</html>