@{
    var city = ViewData["City"] as string;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width:device-width">
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>WeatherApp</title>

        <partial name = "_Favicons"/>

        <nav class="navbar bg-body-tertiary border-bottom text-center">
            <div class="container-fluid" style="display: flex; justify-content: center; align-items: center">
                <a class="navbar-brand" href="/">WeatherApp</a>
            </div>
        </nav>

    </head>
    <body>
    
    <div class="container-fluid p-2">
        <partial name = "_SearchBox" model="@city"/>

        <main role="main" class="container p-2" style="margin-bottom: 60px;">
            @RenderBody()
        </main>
        </div>

        <footer class="footer fixed-bottom border-top text-muted p-2 text-center bg-body-tertiary"> 
            <div class="container-fluid">
                &copy; 2023 - WeatherApp
                <p style="margin-bottom: 0;">
                    <a href="https://github.com/ShadowPrice1328/WeatherApp" class="text-decoration-none">GitHub</a>
                </p>
            </div>
        </footer>
    </body>
</html>