@model string;

<div class = "container col-5">
    <form asp-action="Search" asp-controller="Home" method="get">
        <div class="d-flex justify-content-center p-2">
            <div class="input-group col-5">
                <input name="city" type="text" class="form-control" placeholder="Enter the city name"
                    aria-label="Enter the city name" aria-describedby="button-search" value="@Model" autocomplete="off"/>

                <button class="btn btn-outline-secondary" type="submit" id="button-search" data-mdb-ripple-color="dark">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>