@model IEnumerable<IGrouping<DateTime, List>>;

<div class="container">
    <div class="card-group">
        @{foreach (var weatherItem in Model)
        {
            <details>
                <summary>
                    <div class="card" style="cursor: pointer;">
                        <div class="card-body text-center">
                            <h3 class="border-bottom">@weatherItem.Key.ToString("m")</h3>
                        </div>
                    </div>
                </summary>
                <div class="card-body text-center">
                    @{foreach (var item in weatherItem)
                    {
                        <p>
                            <span class="text-secondary">@DateTime.ParseExact(item.dt_txt, "yyyy-MM-dd HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture).ToString("HH:ss")</span>
                            | @item.main.temp.ToString() °C
                        </p>
                    }}
                </div>
            </details>
        }}
    </div>
</div>

@if (ViewData.ContainsKey("selectedWeather"))
{
    <div id="detailsContainer">
        @await Html.PartialAsync("_ShowDetails", ViewData["selectedWeather"])
    </div>
}
