<div class="form-check form-switch" onclick="changeUnits();" style="padding: 0">
    <input id="checkbox" class="form-check-input" type="checkbox" name="units"
           value="imperial">
    <label class="form-check-label" for="flexSwitchCheckChecked">°F</label>
</div>

<script>
    var checkbox = document.getElementById("checkbox");

    window.onload = function () {
        var isChecked = sessionStorage.getItem('isChecked');
        if (isChecked === 'true') {
            checkbox.checked = true;
            changeUnits();
        }
    };

    function changeUnits() {
        var temperatureValues = document.querySelectorAll("#temperaturevalue");

        temperatureValues.forEach(function (temperatureValue) {
            var temperatureValueFloat = parseFloat(temperatureValue.textContent);
            var temperatureNew = checkbox.checked ? (temperatureValueFloat * 9 / 5) + 32 : (5 / 9) * (temperatureValueFloat - 32);
            temperatureValue.textContent = temperatureNew.toFixed(2);
        });

        var feelslikeValues = document.querySelectorAll("#feelslikevalue");

        feelslikeValues.forEach(function (feelslikevalue) {
            var feelslikeValueFloat = parseFloat(feelslikevalue.textContent);
            var feelslikeNew = checkbox.checked ? (feelslikeValueFloat * 9 / 5) + 32 : (5 / 9) * (feelslikeValueFloat - 32);
            feelslikevalue.textContent = feelslikeNew.toFixed(2);
        });

        var windspeedValues = document.querySelectorAll("#windspeed");

        windspeedValues.forEach(function (windspeed) {
            var windspeedFloat = parseFloat(windspeed.textContent);
            var windspeedNew = checkbox.checked ? windspeedFloat * 2.23694 : windspeedFloat / 2.23694;
            windspeed.textContent = windspeedNew.toFixed(2);
        });

        var temperatureSymbol = checkbox.checked ? "°F" : "°C";

        document.getElementById("temperature").innerHTML = "<b>Temperature " + temperatureSymbol + "</b>";
        document.getElementById("feelslike").innerHTML = "<b>Feels Like " + temperatureSymbol + "</b>";
        document.getElementById("wind").innerHTML = checkbox.checked ? "<b>Wind (mph)</b>" : "<b>Wind (m/s)</b>";

        sessionStorage.setItem('isChecked', checkbox.checked ? 'true' : 'false');
    }
</script>
