@model IEnumerable<IGrouping<DateTime, List>>;

<div class="container p-2">
    <div class="d-flex justify-content-center">
        <div class="card-group" style="white-space: nowrap;">
            @{
                foreach (var weatherItem in Model)
                {
                    <form asp-action="ShowDetails" asp-controller="Home" method="post">
                        <input type="hidden" name="date" value="@weatherItem.Key.ToString("yyyy-MM-dd")" />
                        <input type="hidden" name="city" value="@ViewData["City"]"/>

                        @{
                            if (ViewData.ContainsKey("selectedDay"))
                            {
                                int parsedDay = DateTime.ParseExact(ViewData["selectedDay"].ToString(), "yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture).DayOfYear;
                                int actualDay = weatherItem.Key.DayOfYear;

                                bool selected = (parsedDay == actualDay);
                                ViewData["selected"] = selected;
                            }
                        }

                       <vc:day-icon item="weatherItem"/>

                    </form>
                }
            }
        </div>
    </div>

    <div style="margin-left: 10%; margin-top: 15px;">
        @if (ViewData.ContainsKey("selectedDay"))
        {
            TempData["selectedDay"] = ViewData["selectedDay"];
            var selectedModel = Model
                .SelectMany(group => group)
                .GroupBy(item => DateTime.ParseExact(item.dt_txt, "yyyy-MM-dd HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture).Date)
                .FirstOrDefault(group => group.Key == DateTime.ParseExact(ViewData["selectedDay"] as string, "yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture).Date);
            @await Component.InvokeAsync("DayDetails", selectedModel)
        }
        else
        {
            var selectedModel = Model.First();
            @await Component.InvokeAsync("DayDetails", selectedModel)   
        }
    </div>
</div>