@model IEnumerable<IGrouping<DateTime, List>>;

<div class="container">
    <div class="card-group">
        @{foreach (var weatherItem in Model)
        {
            await Html.RenderPartialAsync("FiveDays", weatherItem);
        }}
    </div>
</div>