@model DayViewModel

<div class="card shadow mb-3 @if(Model.IsSelected) { <text>border border-4</text> }" 
    style="cursor: pointer; line-height: 1; width:8rem; margin-left: 15px; border: 1px solid rgba(0, 0, 0, 0.2);" 
    onclick="location.href='/@ViewData["City"]/@Model.Date.ToString("yyyy-MM-dd")';">

    <div class="card-body text-center">
        <p style="margin-bottom: 10px;">@Model.Date.ToString("dddd")</p>
        <b>@Model.Date.ToString("dd")</b>
        <p style="margin-bottom: 2px; margin-top: 7px;">@Model.Date.ToString("MMMM")</p>
        <img class="card-img-bottom border-top" src="@Model.IconUrl" alt="weather icon">
    </div>
</div>
